<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Anime Gallery</title>
  </head>
  <body>
    <h2>ANIME GALLERY</h2>
    <% for(post of posts) { %>
    <div class="thaughts">
      <h3>@<%=post.username%></h3>
      <h4>❝<%=post.thaught%>❞</h4>
      <% for( let index = 0; index < 2;index ++) { %> <% if (post.image[index]!="") { %><img
        src="<%=post.image[index]%>"
        alt="anime image"
      />
      <% } %> <% } %>
    </div>
    <% } %>
    <a href="http://localhost:8080/posts/new">Create Your own GALLERY</a>
  </body>
</html>
