<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/update.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Platypi:wght@300..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <title>INFORMATION</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="/assets/anime.webp" alt="error" class="navImg" />
        <span class="galleryTitle">INFORMATION</span>
      </div>
      <div class="links">
        <a href="http://localhost:8080/posts"><i class="fa-solid fa-house"></i> Home</a>
      </div>
    </nav>
    <h1>HI 👋, My Name is Sonu Sharma creator of the Anime gallery</h1>
    <p>
      this site is made for all the anime fan who loves to collect anime images from various sites
    </p>
    with this site rather than downlodin the anime images into your phone, i derived a solution such
    that you can create your own gallery and can update anytime in future without any storage usage.
    hope you like it.

    <div class="small">
      this website and the images associated to the website i dont own any of these. these images
      are just a reference and uplodeaded by the gallery creator and i dont own any of these
    </div>

    <footer>
      <p>Copyright © 2024, Anime Gallery, Sonu Sharma</p>
    </footer>
  </body>
</html>
