/* All page styling */
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #b48d9d;

  margin-top: 80px;
}

#thaught {
  vertical-align: top;
}

img {
  height: 280px;
}

.updated_img {
  width: 80px;
  height: auto;
}

/* NAV */

nav {
  background: linear-gradient(to left, #2e112deb 30%, #540032);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  border-top: 3px solid #983795f8;
  box-shadow: 0 5px 15px 2px #602542;
  width: 100vw;
  position: fixed;
  top: 0;
}
nav .logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 8px;
}
.navImg {
  height: 3rem;
  width: 3rem;
}

.galleryTitle {
  color: #f0433a;
  font-family: 'Cinzel Decorative', serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 0;
}

nav .links {
  display: flex;
  margin-right: 40px;
  gap: 8px;
}

nav a {
  text-decoration: none;
  color: #c9283e;
  font-size: 1.1rem;
  padding: 8px;
  border: 2px solid transparent;
  transition: 0.5s;
}

nav a:hover,
nav a:active {
  transition: 0.8s;
  color: #f0433a;
  border-right: 2px solid #f0433a;
  border-left: 2px solid #f0433a;
  border-radius: 20%;
  scale: 104%;
  background-color: #2e112d;
}

/* index.ejs Section */

.gallery {
  margin-bottom: 30px;
  border-bottom: 6px solid #540032;
  margin: 25px;
}

.mainInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.update-delete {
  display: flex;
  align-items: center;
  gap: 25px;
  min-width: 205px;
}

.update-delete .update,
.update-delete button {
  transition: 0.5s;
  background-color: #2e112dec;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-right: 3px;
  font-size: 1.1rem;
  padding: 9px 6px;
  color: #c9283e;
  border-radius: 9px;
  box-shadow: 3px 3px 2px 0 #c9283e;
}

.update-delete a:hover,
.update-delete button:hover {
  transform: translate(3px, 3px);
  color: #f0433a;
  background-color: #2e112d;
  box-shadow: none;
  transition: 0.5s;
}
.username {
  font-style: italic;
  margin-bottom: 10px;
}
.usercaption {
  font-size: 1.2rem;
  line-height: 24px;
  margin-bottom: 8px;
}

.images {
  display: flex;
  align-items: center;
  gap: 10px;
}
.images button {
  border: none;
  background: transparent;
  box-shadow: none;
  position: relative;
}

.images button a {
  color: #2e112d;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 9px 20px;
  border: 3px solid #2e112d;
  background: linear-gradient(-35deg, #f0433ac1 10%, #2e112d68 90%);
  font-weight: 500;
  border-radius: 9px;
  transition: 0.5s;
}

.images button::after {
  font-family: 'Font Awesome\ 5 Free';
  content: '\f101';
  font-weight: 900;
  font-size: 1.1rem;
  position: absolute;
  transform: translate(0, 4px);
  opacity: 0;
  transition: 0.25s;
}
.images button a:hover {
  align-items: center;
  padding-left: 12px;
  padding-right: 28px;
  font-weight: 500;
  box-shadow: none;
  transition: 0.4s;
}
.images button:hover::after {
  transform: translate(-25px, 4px);
  color: #2e112d;
  opacity: 1;
  transition: 0.5s;
}
