* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#thaught {
  vertical-align: top;
}

.gallery {
  background-color: antiquewhite;
  margin-bottom: 30px;
}

.username {
  font-style: italic;
}

button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button:hover {
  background: #ddd;
}

img {
  height: 300px;
}

.updated_img {
  width: 80px;
  height: auto;
}

/* NAV */

nav {
  background-color: #2e112d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  border-top: 3px solid #700b1e;
  box-shadow: 0 5px 12px 2px #602542;
}
nav .logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 8px;
}
.navImg {
  height: 3rem;
  width: 3rem;
}

.galleryTitle {
  color: #f0433a;
  font-family: 'Cinzel Decorative', serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 0;
}

nav .links {
  display: flex;
  gap: 10px;
  margin-right: 12px;
}

nav a {
  text-decoration: none;
}
